body
{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#calculator
{
    background-color: rgb(156, 168, 168);
    width: 300px;
    border-radius: 20px;
}

#display
{
    width:97%;
    height: 40px;
    text-align: right;
    color: rgb(245, 240, 240);
    font-size: 30px;
    background-color: rgb(16, 182, 182);

}

.operator
{
    background-color: orange;
    color: white;
    font-size: 30px;
}

.operator:hover{
    background-color: rgb(122, 82, 7);
}

.operator:active
{
    background-color: rgb(207, 139, 87);
}

#keys
{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    margin: 10px;
    
}

button
{
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}